/*
* @Author: OMAO
* @Date:   2019-08-05 17:32:13
* @Last Modified by:   OMAO
* @Last Modified time: 2019-08-05 17:33:05
*/

canvas {
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}

#contenu {
	position:relative;
	z-index:2;
}
